
* {
    margin: 0;
    padding: 0;
  }
  
  body {
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
  }
  
  body, #mycanvas {
    background-image: url("images/background5.png");
    background-repeat: repeat-x repeat-y;
    position: absolute;
    z-index: -1;
    /* border: 1px solid red;
    width: 930px;
    height: 620px;
    margin: 0;
    left: 309px;
    top: 185px; */
  }
  
  #start {
  font-size: 100px;
  z-index: 1;
  position: fixed;
  left: 35%;
  top: 10%
  }
  
  p {
  font-size: 25px;
  position: absolute;
  z-index: 1;
  left: 35%;
  top: 30%;
  }
  
  #score {
  display: none;
  position: absolute;
  z-index: 1;
  left: 0%;
  }
  
  #end {
  display: none;
  position: absolute;
  left: 42%;
  top: 40%;
  font-size: 50px;
  color: red;
  }
  
  #restart {
  font-size: 25px;
  display: none;
  position: absolute;
  left: 80%;
  top: 80%;
  }
  
  #result {
  display: none;
  position: absolute;
  left: 40%;
  top: 50%;
  font-size: 50px;
  }